ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
    font-size: 38px;
}

li a {
    
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px:
}

li:hover {
    background-color: #111;
}

body{
    
    
  background-image: url("bilder/rest.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


}
